:root {
    --border-color: #2b2b40;
    --muted: #565674;
    --primary: #009ef7;
    --vs-primary: #009ef7 !important;
    --text-color : #6D6D80;
    --text-color-2: #cdcdde;
    --heading-color: #fafafa;
    --card-bg: #1e1e2d;
}
